<div align="center" class="scaffold-footer">
  
  <br>
  <p>If you have any questions, please contact us on</p>
  <p></p>
  <h4>
    {{#if publication_name}}  
        <a href="mailto:businesssolutionssupport@fairfaxmedia.com.au" target="_blank"><strong>businesssolutionssupport@fairfaxmedia.com.au</strong></a> or phone <strong><a href="tel:0738368228">07 3836 8228</a></strong>
    {{else}}
        <a href="mailto:service@omg.com.au" target="_blank"><strong>service@omg.com.au</strong></a> or phone <strong><a href="tel:1300123664">1300 123 664</a></strong>
    {{/if}}    
  </h4>
    
  <div id="footer" align="center">
    <p>
      {{#if publication_name}}
      
      {{DOMAIN_NAME}} is operated by Online Marketing Group Pty Limited, a wholly owned subsidiary of Fairfax Media Limited.
      For more information that applies to your service, please visit our <a href="http://www.omg.com.au/advertiser-terms-conditions">Advertiser Terms and Conditions</a> and <a href="http://fairfax.com.au/privacy.html">Privacy Policy</a> page.
      <br>
        
      1 Darling Island Road, Pyrmont NSW 2009 | Ph: <a href="tel:0738368228">07 3836 8228</a> | Web: <a href="http://www.omg.com.au">www.omg.com.au</a>
      
      {{else}}
      
      {{DOMAIN_NAME}} is operated by Online Marketing Group Pty Limited, a wholly owned subsidiary of Fairfax Media Limited.

      For more information that applies to your service, please visit our <a href="http://www.omg.com.au/advertiser-terms-conditions">Advertiser Terms and Conditions</a> and <a href="http://fairfax.com.au/privacy.html">Privacy Policy</a> page.
      <br>

      1 Darling Island Road, Pyrmont NSW 2009 | Ph: <a href="tel:1300123664">1300 123 664</a> | Web: <a href="http://www.omg.com.au">www.omg.com.au</a>
      
      {{/if}}
    </p>
    <div align="center" style="padding-top:20px;">
      <img src="fairfax-logo.png" width="112" height="64" alt="">
    </div>
  </div>

</div>