<div align="center" class="footer">
  {{#if publication_name}}
  <br>
  <p>If you have any questions, please contact us on</p>
  <p></p>
  <h4>
    <a href="mailto:%20service@omg.com.au" target="_blank">
      <strong>something@acm.com.au</strong>
    </a> or phone <strong>1300 123 ACM</strong>
  </h4>

  <div id="footer" align="center">
    <p>
      {{DOMAIN_NAME}} is operated by Online Marketing Group Pty Limited, a wholly owned subsidiary of Fairfax Media Limited.
      For more information that applies to your Plan, please visit our <a href="http://www.omg.com.au/advertiser-terms-conditions">Advertiser Terms and Conditions</a> and <a href="http://fairfax.com.au/privacy.html">Privacy Policy</a> page.
      <br>

      1 Darling Island Road, Pyrmont NSW 2009 | Ph: <a href="tel:1300123664">1300 123 664</a> | Web: <a href="http://www.omg.com.au">www.omg.com.au</a>
    </p>
    <div align="center" style="padding-top:20px;">
      <img src="fairfax-logo.png" width="112" height="64" alt="">
    </div>
  </div>

  {{else}}

  <br>
  <p>If you have any questions, please contact us on</p>
  <p></p>
  <h4>
    <a href="mailto:%20service@omg.com.au" target="_blank"><strong>service@omg.com.au</strong></a> or phone <strong>1300 123 664</strong>
  </h4>


  <div id="footer" align="center">
    <p>    {{DOMAIN_NAME}} is operated by Online Marketing Group Pty Limited, a wholly owned subsidiary of Fairfax Media Limited.

      For more information that applies to your Plan, please visit our <a href="http://www.omg.com.au/advertiser-terms-conditions">Advertiser Terms and Conditions</a> and <a href="http://fairfax.com.au/privacy.html">Privacy Policy</a> page.<br>

      1 Darling Island Road, Pyrmont NSW 2009 | Ph: <a href="tel:1300123664">1300 123 664</a> | Web: <a href="http://www.omg.com.au">www.omg.com.au</a></p>
    <div align="center" style="padding-top:20px;"><img src="fairfax-logo.png" width="112" height="64" alt=""></div>
  </div>

  {{/if}}
</div>