
            
            <p><span style="font-size: small;">Dear {{EMAIL_FIRSTNAME}},</span></p>
<p><span style="font-size: small;">Attached is your renewal invoice for your {{LISTING_PERIOD}} month {{LISTING_TYPE}} Listing on <a href="%7B%7BDOMAIN_NAME%7D%7D">{{DOMAIN_NAME}}</a>, starting from {{EFFECTIVE_DATE}}.</span></p>
<p><span style="font-size: small;">Invoice Amount: ${{COST}}</span></p>
<p><span style="font-size: small;">There are three ways you can pay for your listing:</span></p>
<ol>
<li>
<p><span style="font-size: small;"><strong>Online Credit Card Payment:</strong></span><br><span style="font-size: small;">Make an online payment with your credit card through our secure interface. <a href="%7B%7BPAYMENT_LINK%7D%7D">Pay Now</a></span></p>
</li>
<li>
<p><span style="font-size: small;"><strong>EFT Payment:</strong></span><br><span style="font-size: small;">Online Marketing Group Pty Limited</span><br><span style="font-size: small;">National Australia Bank</span><br><span style="font-size: small;">Account Number: 866998000</span><br><span style="font-size: small;">BSB: 084 255</span></p>
<p><span style="font-size: small;">Your Reference Number: {{LEAD_ID}} (enter this in the description or comments area when making your transfer)</span></p>
<p><span style="font-size: small;"><strong>YOU MUST INCLUDE YOUR REFERENCE NUMBER SO WE CAN TRACK AND PROCESS YOUR ORDER</strong></span></p>
<p><span style="font-size: small;">Once you have completed payment, please send an email with your reference number to <a href="mailto:payments@omg.com.au">payments@omg.com.au</a></span></p>
</li>
</ol>
<p><span style="font-size: small;">Thank you, we look forward to getting your listing set up on the OMG network!</span></p>
<p><span style="font-size: small;"> </span></p>
<p><span style="font-size: small;">Regards,</span><br><span style="font-size: small;">{{FROM_NAME}}</span><br><span style="font-size: small;">Sales Executive</span></p>
          
          