
            
            


  
  <link href="/styles.css" rel="stylesheet">
  <h1 class="template-header">advertiser-sale-agent-signup-complimentary-upgrade</h1>
  
  

  
    <p><span style="font-size: small;">Dear {{CUSTOMER_NAME}},</span></p>
<p><span style="font-size: small;">We have upgraded your OMG Listing to our {{COUPON_CODE}} Package. This package entitles you to the following:</span></p>
<p><span style="font-size: small;">{{COUPON_DESCRIPTION}}</span></p>
<p><span style="font-size: small;"><strong>This is a free upgrade. </strong></span></p>
<p><span style="font-size: small;">This change to your OMG Listing will take effect immediately. You can view your listing at {{LISTING_URI}}.</span></p>
<p><span style="font-size: small;">Please note that your subscription will revert to the standard {{COUPON_CODE}} price of {{COUPON_CODE_PRICE}}, payable {{BILLING_PERIOD}} at the completion of this offer.</span></p>
<p><span style="font-size: small;">Regards,</span><br><span style="font-size: small;">{{BAT_MEMBER_NAME}}</span><br><span style="font-size: small;">Business Advisory Team</span></p>
    
  

          
          