
           <div id="Slide" align="center"><h1 style="font-size: 20px;">LISTING CONFIRMATION</h1></div> 
           <p>Dear <strong>{{EMAIL_NAME}}</strong>,</p>
<br>

            <p>Thank you, We are pleased to confirm your <strong>{{LISTING_TYPE}}</strong> listing on <strong>{{DOMAIN_NAME}}</strong> will be active within 24 hours.</p>
            <p>{{EMAIL_VERIFICATION_LINK}}</p>
<br>
            <p>To get the most out of your Business profile with {{DOMAIN_NAME}}, it's important to get your business profile up-to-date and looking professional. We recommend filling as much detail as possible about your business. You can also add articles, photos or video clips to promote your expertise. This can all be done through your Dashboard Account.</p>
<br>

        
    <p><strong>Your Dashboard Account Details:</strong></p>
            <p>To log into your Dashboard, please visit: <a href="http://dashboard.omg.com.au">Dashboard.omg.com.au</a></p>

    <p>Login:  <strong>{{EMAIL_LOGIN}}</strong></p>

    <p>Password: <strong>{{EMAIL_PASSWORD}}</strong></p>

          <div id="button"><p><a href="http://dashboard.omg.com.au">Go to my Dashboard</a></p></div>
<br>
            
   <p>You may upgrade or cancel your listing at any time. If you have any questions or need assistance please contact us on 1300 123 664 or email us at service@omg.com.au. </p>

<br><p>Kind Regards,</p>

<p><strong>{{DOMAIN_NAME}} Team</strong></p>
<br>

<hr>
            