
            
            
            
            
        	<div id="Slide" align="center"><h1 style="font-size: 20px;">ACTIVATE YOUR ACCOUNT</h1></div>    
            <p>Dear <strong>{{EMAIL_FIRST_NAME}}</strong>,</p>

<br>
{{CONFIRMATION_PRE_TEXT}}

<p>
  With your Business profile is now live on <strong>{{DOMAIN_NAME}}</strong>, it is ready for you to personalise it to your business with photos, videos and of course your business details. Your can do all this at any time by logging onto your Dashboard account to keep your details up-to-date.
</p>

<div id="button"><p><a href="http://dashboard.omg.com.au">START NOW</a></p></div>
<br>

<p>
  You Business Profile addresses: <strong><a href="http://www.%7B%7BDOMAIN_NAME%7D%7D/%7B%7BFRIENDLY_URI%7D%7D/">http://www.{{DOMAIN_NAME}}/{{FRIENDLY_URI}}/</a></strong>
</p>
<br>

<p>
  <strong>Your Dashboard Account Details:</strong>
</p>

<p>To Log onto your Dashboard account, please go to: <a href="http://dashboard.omg.com.au">Dashboard.omg.com.au</a></p>
<br>
              <blockquote><p>Login:  <strong>{{EMAIL_LOGIN}}</strong></p></blockquote>
              <blockquote><p>Password: <strong>{{EMAIL_PASSWORD}}</strong></p></blockquote>
<br>
<p>Your Order Details</p>
	<blockquote><p><strong>{{ADDITIONAL_OFFICE_HTML}}</strong></p></blockquote>
	<blockquote><p> Start Date:  <strong>{{SALE_DATE}}</strong></p></blockquote>
	<blockquote><p>Plan: <strong>{{PLAN_STRING}}</strong></p></blockquote>
	<blockquote><p> Description: <strong>{{PLAN_DESCRIPTION}}</strong></p></blockquote>
<br>
<p>This is a perpetual contract, which will continue on a month-to-month basis at the conclusion of the 12 months contract term until a time when either party cancels the contract in line with our Terms &amp; Conditions. For more information please view our full Terms &amp; Conditions at <a href="http://www.omg.com.au/advertiser-terms-conditions">omg.com.au/advertiser-terms-conditions</a></p>
<br>
<p>Charges will appear on your credit card statement from "<a href="#">OMG.com.au</a> Listings".</p>
<br>
<p>    Let's Get Your Business Profile Looking Professional

  To ensure you maximise your business opportunities, it's important to get your business profile looking professional. We recommend filling as much detail in as possible about your business. You can also add articles, photos or video clips to promote your expertise. This can all be done through your Dashboard.</p>
<br>

<div align="center">

  <h3>Log onto your Dashboard<br>to update it now.</h3>
  <div id="button"><p><a href="http://dashboard.omg.com.au">Go to my Dashboard</a></p></div>

</div>

<br>
<p>Best Regards,</p>

<p><strong>The OMG Team</strong></p>
<br>

<hr>
          
          
          
          
          
          