
            
            <p><span style="font-size: small;">Dear {{CUSTOMER_FIRSTNAME}},</span></p>
<p><span style="font-size: small;">We attempted to contact you again today in regards to your complementary set up </span><span style="font-size: small;">(</span><span style="font-size: small;">or revamp)</span><span style="font-size: small;">.</span></p>
<p><span style="font-size: small;">As part of the package, we would like to take the time to help you set up your business profile. Today, one of our Customer Service team members attempted to call you but was unable to get through.</span></p>
<p><span style="font-size: small;">We can set up your business profile in one of two ways.</span></p>
<ol>
<li><span style="font-size: small;">If you have a website, we can use that information. If you would like us to, please reply to this email informing us of that decision OR</span></li>
<li>
<span style="font-size: small;">If you don't have a website, or would like different information displayed on your business profile, please reply to this email with the following:</span><ol style="list-style-type: lower-alpha;">
<li><span style="font-size: small;">Your business logo</span></li>
<li>
<span style="font-size: small;">A short snippet about your business</span><span style="font-size: small;">(25 words or less)</span>
</li>
<li><span style="font-size: small;">A longer description of your business <br></span></li>
<li><span style="font-size: small;">Photos and a video (if you have one) highlighting your products or services</span></li>
<li><span style="font-size: small;">Business hours</span></li>
<li><span style="font-size: small;">Team information</span></li>
<li><span style="font-size: small;">Payment methods accepted</span></li>
<li><span style="font-size: small;">Frequently asked questions (with answers of course)</span></li>
<li><span style="font-size: small;">Any articles you have written</span></li>
<li><span style="font-size: small;">Any testimonials/customer reviews you have</span></li>
</ol>
</li>
</ol>
<p><span style="font-size: small;">Of course you can update all of the above elements yourself via </span><strong style="font-size: small;"><a title="Click to go to your Dashboard" href="https://dashboard.omg.com.au/accounts/sign_in" target="_blank">the Dashboard</a></strong><span style="font-size: small;"> using your login details. </span></p>
<p><span style="font-size: small;">If you have any questions or need assistance please contact us on 1300 123 664, otherwise we look forward to setting up your business profile.</span></p>
<p><span style="font-size: small;">Kind regards, </span></p>
<p><span style="font-size: small;">Customer Service Team</span></p>
          
          