
            
            <div style="text-align: center;">{{LOGO}}</div>
<p><span style="font-size: small;">Dear {{CUSTOMER_NAME}},</span></p>
<p><span style="font-size: small;">Congratulations, your listing now live on {{DOMAIN_NAME}}!</span></p>
<p><span style="font-size: small;">Click on the link below to log in to your account and complete your profile.</span></p>
<hr>
<p><span style="font-size: small;"><a href="%7B%7BLOGIN_URL%7D%7D">Log in Now</a></span></p>
<p><span style="font-size: small;"><strong>Account Login Details</strong></span><br><span style="font-size: small;"> To login to your account visit: <a href="http://www.omg.com.au">www.omg.com.au</a></span><br><span style="font-size: small;"> Login: {{EMAIL_LOGIN}}</span><br><span style="font-size: small;"> Password: {{EMAIL_PASSWORD}}</span></p>
<p><span style="font-size: small;">Please log in to your account to get the most out of your listing. You may upgrade or cancel your listing at any time.</span></p>
          
          