
            <div id="Slide" align="center"><h1 style="font-size: 20px;">PHONE NUMBER VIEWED</h1></div>
           <p>Dear <strong>{{BUSINESS_NAME}}</strong>,</p>
<br>


    <p>A potential customer has just accessed your phone number (<strong>{{BUSINESSLISTING_PHONE_NUMBER}}</strong>) on your business profile on {{DOMAIN_NAME}}. </p>
          <p>If this number has changed, simply update your Business profile by going to your Dashboard.</p>
   <div id="button"><p><a href="http://dashboard.omg.com.au">Go to Dashboard</a></p></div>
<br>
       <p>If you would like further assistance, feel free to contact us on 1300 123 664.</p>     

<br><p>Kind Regards,</p>

<p><strong>{{DOMAIN_NAME}} Team</strong></p>
<br>

<hr>
            