
            
            
            
            
        	<div id="Slide" align="center"><h1 style="font-size: 20px;"></h1></div>    
            <p>Dear <strong>{{CUSTOMER_FIRSTNAME}}</strong>,</p>

<br>
              <p>Following on from our conversation today, your package includes an initial set up of your business profile. If you are renewing, it includes a complementary revamp of your profile's content to ensure your details are up-to-date for your customers. </p> 
<br>
<p>We can help set up your business profile in one of two ways.</p>
<br>
<p>If you have an existing website, we can use your existing business information to set up your business profile. If you would like us to do that, please reply to this email to confirm this decision.</p>
              <blockquote><p><strong>OR</strong></p></blockquote>
<p>If you do not have a website, or would like different information to be displayed on your business profile. Please reply to this email with your details of the following:</p>
<ul>
    <li>A image of your business logo</li>
    <li>A short snippet about your business (25 words or less)</li>
    <li>A long description about your business</li>
    <li>Photos highlighting your products or services</li>
    <li>Video (if avaliable) about your business</li>
    <li>Your business hours</li>
    <li>Team information</li>
    <li>Accepted payment methods</li>
    <li>Frequently asked questions (with answers of course)</li>
    <li>Any articles you have written</li>
    <li>Any testimonials/customer reviews you have</li>
</ul>
              <br>
<p>Of course you can update all of these details via your Dashboard using your login details. </p>
              <div id="button"><p><a href="http://dashboard.omg.com.au">Go to my Dashboard</a></p></div>
              <br>
<p>If you have any questions or need assistance please contact us on 1300 123 664. Otherwise we look forward to your reply and setting up your business profile.</p>
    
<br>
<p>Kind Regards,</p>

<p><strong>{{DOMAIN_NAME}} Team</strong></p>
<br>

<hr>
          
          
          