
            
            <table width="800" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td height="87"><img src="https://secure.omg.com.au/images/quicksignup/email_top_logo.gif" alt="OMG - Fairfax Digital" width="800" height="87"></td>
</tr>
<tr>
<td>
<div style="padding: 25px 60px 0px;">
<div style="text-align: center;">{{DOMAIN_LOGO}}</div>
<p><span style="font-size: small;">Dear {{EMAIL_FIRST_NAME}},</span><br><br><span style="font-size: small;">Thank you for taking the time to speak to me today regarding your renewal on {{DOMAIN_NAME}}. The investment to maintain and renew your listing is {{LISTING_PRICE}} which is due prior to expiry on {{RENEWAL_DATE}}.</span></p>
<p><span style="font-size: small;">Please find below a summary of improvements made this year to further optimise your listing within our directory and your overall experience with OMG.</span></p>
<p><span style="font-size: small;"><strong>1. Account Management:</strong></span><br><br><span style="font-size: small;">We have introduced a central point of contact for all your account queries. I will be responsible for the overall maintenance of your advertisement with OMG and throughout the year will be further suggesting improvements to increase the ROI on your investment.</span><br><br><span style="font-size: small;"><strong>2. Complimentary Mini-site Review</strong>:</span><br><br><span style="font-size: small;">With so many new feature additions to your mini-site, we would love to personally review your mini-site to ensure the new features are implemented and you are maximising these new additions to showcase your business in the best possible light.</span><br><br><span style="font-size: small;">Some of the new developments over  the past 12 months which have been designed to assist in the performance of your listing are:</span></p>
<ul>
<li><span style="font-size: small;"><strong>Multiple image upload</strong><em> - easy for you quickly upload</em></span></li>
<li><span style="font-size: small;"><strong>Testimonials </strong><em>- no better trust than word of mouth</em></span></li>
<li><span style="font-size: small;"><strong>Meet the team page</strong> <em>- your personal service</em></span></li>
<li><span style="font-size: small;"><strong>Articles </strong><em>- write unique stories about how you are different</em></span></li>
<li><span style="font-size: small;"><strong>Special Offers</strong> <em>- offer a competitive edge</em></span></li>
<li><span style="font-size: small;"><strong>FAQ</strong> <em>- save time answering the most common questions</em></span></li>
<li><span style="font-size: small;"><strong>Social Media</strong> <em>- help happy customers spread the word</em></span></li>
<li><span style="font-size: small;"><strong>Star Rating</strong> <em>- reviews mean trust</em></span></li>
<li><span style="font-size: small;"><strong>Multi Quote / Enquiry forms</strong> <em>- bringing you more leads</em></span></li>
</ul>
<p><a style="font-size: small;" href="%7B%7BACTIVATION_URL%7D%7D">Renew your Listing now</a></p>
<p><span style="font-size: small;">If you would like any further information on the above, please call me on 1300 123 664 and ask for {{FROM_NAME}}.</span></p>
</div>
<div style="padding: 25px 60px 0px; text-align: left;">
<span style="font-size: small;">Kind Regards,</span><br><span style="font-size: small;">{{FROM_NAME}}</span><br><span style="font-size: small;">{{DOMAIN_NAME}}</span>
</div>
<div style="padding: 50px;">
<table width="650" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="90"><img src="https://secure.omg.com.au/images/quicksignup/footer_omg_logo.gif" alt="" width="73" height="49"></td>
<td><span style="font-size: 11px;">For the full terms that apply to your Plan, please go to our <a href="http://www.omg.com.au/advertiser-terms-conditions/" target="_blank">Terms and Conditions</a> page. For more information about our privacy policy, please see our <a href="http://fairfax.com.au/privacy.html" target="_blank">Privacy Policy</a> page. Online Marketing Group Pty Limited is a wholly owned subsidiary of Fairfax Media Limited. If you have any questions or no longer wish to receive these messages, please contact us on <a href="mailto:service@omg.com.au" target="_blank">service@omg.com.au</a> or on <a href="tel:1300%20123%20664">1300 123 664</a>.</span></td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
<tr>
<td height="38"> {{TRACKING_URL}}</td>
</tr>
</tbody>
</table>
          
          