<table width="800" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="text-align: left;" height="87"><img src="https://secure.omg.com.au/images/quicksignup/email_top_logo.gif" alt="OMG - Fairfax Digital" width="800" height="87"/></td>
</tr>
<tr>
<td>
<div style="padding: 25px 60px 0px;">
<div style="text-align: left;"><span style="font-size: small;">A new review of your business "{{BUSINESS_NAME}}" has been published on your mini-site here:&nbsp;</span><a style="font-size: small;" href="{{BUSINESS_URL}}#comments">{{BUSINESS_URL}}#comments</a></div>
<p><span style="font-size: small;"><strong>Author:</strong> {{COMMENT_NAME}}</span><br/><span style="font-size: small;"><strong>E-mail:</strong> {{COMMENT_EMAIL}}</span><br/><span style="font-size: small;"><strong>Review:</strong></span><br/><span style="font-size: small;">{{COMMENT_COMMENT}}</span></p>
<p><span style="font-size: small;">&nbsp;</span></p>
<p><span style="font-size: small;">To manage all reviews please visit the review moderation panel:</span><br/><span style="font-size: small;"><a href="https://dashboard.omg.com.au/">https://dashboard.omg.com.au/</a></span></p>
</div>
<div style="padding: 50px;">
<table width="650" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="90"><img src="https://secure.omg.com.au/images/quicksignup/footer_omg_logo.gif" alt="" width="73" height="49"/></td>
<td><span style="font-size: 11px;">For the full terms that apply to your Plan, please go to our <a href="http://www.omg.com.au/advertiser-terms-conditions/" target="_blank">Terms and Conditions</a> page. For more information about our privacy policy, please see our <a href="http://fairfax.com.au/privacy.html" target="_blank">Privacy Policy</a> page. Online Marketing Group Pty Limited is a wholly owned subsidiary of Fairfax Media Limited. If you have any questions or no longer wish to receive these messages, please contact us on <a href="mailto:service@omg.com.au" target="_blank">service@omg.com.au</a> or on <a href="tel:1300%20123%20664">1300 123 664</a>.</span></td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
<tr>
<td height="38">&nbsp;</td>
</tr>
</tbody>
</table>