
            
            
            
        	<div id="Slide" align="center"><h1 style="font-size: 20px;">ACTIVATE YOUR ACCOUNT</h1></div>    
           <p>Dear <strong>{{BUSINESS_NAME}}</strong>,</p>
<br>

    <p>A potential customer has just contacted you through your Business profile page {{with {{MASTHEAD_DOMAIN_NAME}} }}.</p>
<br>
            <p><strong>Customer's details:</strong><br>
        Customer Name: {{CUSTOMER_NAME}}<br>
        Email Address: {{CUSTOMER_EMAIL}}<br>
        Phone Number: {{CUSTOMER_TELEPHONE}}<br>
        Message: {{CUSTOMER_MESSAGE}}</p>
<br>
          
          <p>{{DOMAIN_FOUND_OPTIONAL}}<br>
To get the best response, we recommend contacting this customers as soon as possible. </p>

<br><p>Kind Regards,</p>

<p><strong>{{DOMAIN_DISPLAY_NAME}} Team</strong></p>
<br>

<hr>
            
          
          
          
          