
            
            
            
            
        	<div id="Slide" align="center"><h1 style="font-size: 20px;"></h1></div>    
            <p>Dear <strong>{{CUSTOMER_FIRSTNAME}}</strong>,</p>

<br>
<p>Congratulations, your business profile has now been set up. </p>
<p>You can view your business profile here: <a href="http://www.%7B%7BDOMAIN_NAME%7D%7D/%7B%7BBUSINESSLISTING_FRIENDLYURI%7D%7D" target="_blank">http://www.{{DOMAIN_NAME}}/{{BUSINESSLISTING_FRIENDLYURI}}</a>.</p>
<br>
              <p>Now that we have done the initial work, remember to make sure your business details stays up-to-date for your customers. You can update your business profile at any time via <a href="http://dashboard.omg.com.au" target="_blank">your Dashboard</a> as well as manage any customer reviews you receive. </p>
<br>
              <p>You will also find analytical information about your business profile on your Dashboard such as:</p>
<ul>
    <li>Number of times your business was searched for</li>
    <li>Number of people who viewed your business profile</li>
    <li>Number of enquiries made via your email form</li>
    <li>Number of people who viewed your phone number </li>
              </ul>     
              <br>
<p>If you have any questions or need assistance please contact us on 1300 123 664. </p>

<br>
<p>Kind Regards,</p>

<p><strong>{{DOMAIN_NAME}} Team</strong></p>
<br>

<hr>
          
          
          