
            
            
            
            
        	<div id="Slide" align="center"><h1 style="font-size: 20px;">WELCOME!</h1></div>    
            <p>Dear <strong>{{BUSINESS_NAME}}</strong>,</p>

<br>
              <p>Welcome! Thank you for choosing {{MASTHEAD_DOMAIN_NAME}}.</p>
<br>
<p>This is a confirmation that your business profile has been created on Business.com.au and is LIVE on <strong>{{MASTHEAD_DOMAIN_NAME}}</strong>. </p>
<p>You can view your business profile here: <a href="http://%7B%7BBUSINESS_URL%7D%7D">{{BUSINESS_URL}}</a></p>
<br>
              <p>With Business.com.au powering both our business listings and your business profile. You will be able to take full advantage of the many features they offer. Including the Dashboard service, where you can update your business details at any time. You can log into your Dashboard by <a href="http://dashboard.omg.com.au">clicking here</a>. </p>
    <br>
              <p>Here is your Dashboard account logins details:</p>
              <blockquote><p>Username: <strong>{{EMAIL_LOGIN}}</strong></p></blockquote>
              <blockquote><p>Password: <strong>{{EMAIL_PASSWORD}}</strong></p></blockquote>
<br>
<p>For your security, you will be prompted to update your password on your first log in. This link will only be available for 1 week on receiving this email. If it expires, please generate a new link by using the password reset option. </p>
<br>
              
              <h3>What next?</h3>
<p>Now that your Business profile is live, you can start building your Business profile now. You can add photos, videos and of course your business details. Rememeber to keep your details up-to-date so you don't miss any potential customers! </p>
<br>
<div align="center">
  <h3>Log onto your Dashboard<br>to update it now.</h3>
  <div id="button"><p><a href="http://dashboard.omg.com.au">Go to my Dashboard</a></p></div>
</div>
              <br>
              <p>If you have any questions regarding your Business listing, please don’t hesitate to call us on 07 3836 8228 or email us at <a href="mailto:businesssolutionssupport@fairfaxmedia.com.au" target="_blank">businesssolutionssupport@fairfaxmedia.com.au.</a> </p>
<br>
<p>Kind Regards,</p>

<p><strong>{{MASTHEAD_DOMAIN_NAME}} Team</strong></p>
<br>

<hr>
          
          
          