
           <div id="Slide" align="center"><h1 style="font-size: 20px;">ACTIVATE YOUR ACCOUNT</h1></div> 
           <p>Dear <strong>{{EMAIL_FIRST_NAME}}</strong>,</p>
<br>

            <p>We spoke a little while ago about making your business a premium listing on {{DOMAIN_NAME}}. You can take advantage of this limited offer by <a href="%7B%7BACTIVATION_URL%7D%7D">clicking here</a>. </p>
<br>

            <p><strong>Not sure what a Premium listing looks like?</strong></p>
          
            <p>You can view an example of what your Business profile can look like on our <a href="http://www.%7B%7BDOMAIN_NAME%7D%7D/demo/">{{DOMAIN_NAME}} Premium listing demo</a>.</p>
<br>
          
          <h3>Benefits of a Premium Listing</h3>
            <ul>
<li>
<strong>Unlimited potential leads</strong> - quality leads from interested customers via phone and email</li>
<li>
<strong>Priority placement</strong> - you will get more exposure on {{DOMAIN_NAME}} and leads than your competitors</li>
<li>
<strong>Control of your Business </strong> - Be in charge of your business profile with photos, videos and more</li>
<li>
<strong>Rank higher</strong> - Potential to increase your business profile ranking on popular search engines like Google, Bing and Yahoo when you add quality unique content. </li>
</ul>
<br>

    <p><strong>(+ Bonuses)</strong></p>
            <ul><li>
<strong>Bonus:</strong> 'Jumpstart' - get a the full set-up of your Business profile by one of our trained {{DOMAIN_NAME}} account manager (valued at $199)</li></ul>
<br>


            <p><strong>This is a special Limited Time Offer</strong></p>
			<p>I can offer you a {{COUPON_PRE_SALE_TEXT}}. </p>

    <p>Take advantage of this limited offer now (subject to availability).</p>
          
          <div align="center">
<div id="button"><p><a href="%7B%7BACTIVATION_URL%7D%7D">Accept Offer</a></p></div>
 
</div>

<br><p>Kind Regards,</p>
<p><strong>{{FROM_NAME}}</strong></p>
<p>Account Executive</p>
<p>{{DOMAIN_NAME}}</p>
<p>{{TRACKING_URL}}</p>

<hr>
            
            
          