
            
            
            
           <div id="Slide" align="center"><h1 style="font-size: 20px;">ACTIVATE YOUR ACCOUNT</h1></div> 
           <p>Dear <strong>{{BUSINESS_NAME}}</strong>,</p>
<br>

    <p>We recently sent you a customer enquiry from your Business profile 
{{ with {{MASTHEAD_DOMAIN_NAME'}} }} on {{DOMAIN_NAME}}. If you have a moment, we would appreciate your feedback to help improve our service. </p>
          <div id="button"><p><a href="%7B%7B%20URL%20%7D%7D">Take the survey</a></p></div>
<br>
          
          <p>If you haven't received any enquiries recently, it may have gone to your spam or junk folders. Furthermore, you can contact our Support team if you still cannot locate it.</p>
<br>
            <p>Thank you in advance. </p>

<br><p>Kind Regards,</p>

<p><strong>{{DOMAIN_NAME}} Team</strong></p>
<br>

<hr>
            
          
          
          
          