
    <div id="Slide" align="center"><h1 style="font-size: 20px;">ACTIVATE YOUR ACCOUNT</h1></div>        
    <p>Dear <strong>{{EMAIL_FIRSTNAME}}</strong>,</p>
<br>

    <p>Thank you for your time today. As discussed, we are setting you up with a listing on {{DOMAIN_NAME}}. The details of your plan are as follows;</p>
    <p>{{DESCRIPTION}}</p>
<br>
    <p>There are a couple of ways you can pay for your plan:</p>
    <p><strong>1. Online Credit Card Payment:</strong><br>
      You can make an online payment with your credit card through our secure interface. You can <a href="%7B%7BPAYMENT_LINK%7D%7D">click here</a> to access our online payment page now.</p>
    <div id="button"><p><a href="%7B%7BPAYMENT_LINK%7D%7D">Pay now</a></p></div>
<br>
    <p><strong>2. EFT Payment:</strong><br>
      You can make an EFT Payment to our account. </p>
    <p><strong>Online Marketing Group Pty Limited</strong></p>
    <p><strong>National Australia Bank</strong></p>
    <p>Account Number: <strong>866998000</strong></p>
    <p>BSB: <strong>084 255</strong></p>
<br>
    <p>Your Reference Number is: <strong>{{LEAD_ID}}</strong></p>
    <p>Please enter your Reference Number in the description or comments area when making your transfer. </p>
<br>

    <p><strong>IMPORTANT:</strong> TO ALLOW US TO TRACK YOUR PAYMENT AND PROCESS YOUR ORDER. PLEASE MAKE SURE TO INCLUDE YOUR REFERENCE NUMBER. </p>
<br>

    <p>Once you have completed payment, please send an email with your reference number to <a href="mailto:payments@omg.com.au">payments@omg.com.au</a></p>
<br>

    <p>Thank you, we look forward to getting your Business listing set up on {{DOMAIN_NAME}}!</p>

    <p>If you have any questions or need assistance please contact us on 1300 123 664. </p>


    <br><p>Best Regards,</p>

    <p><strong>{{FROM_NAME}}</strong></p>
    <p>Sales Executive</p>
    <p>{{DOMAIN_NAME}}</p>
    <br>

    <hr>

  
          