
            
            <table width="100%" border="0" cellspacing="0" cellpadding="10">
<tbody>
<tr>
<td>
    <p style="text-align: center;">{{{DOMAIN_LOGO}}}</p>
<p><span style="font-size: small;">Dear {{CUSTOMER_NAME}},</span></p>
<span style="font-size: small;">Thanks for renewing your directory listing on {{DOMAIN_NAME}}. We look forward to another successful year helping to grow your business online.</span>
</td>
</tr>
<tr>
<td bgcolor="#e1eaeb"><span style="color: #067db4; font-weight: bold; font-size: 15px; font-family: arial;">1. Account Details</span></td>
</tr>
<tr>
<td style="border: 1px solid #f1f1f1;">
<table width="100%" border="0" cellspacing="0" cellpadding="10">
<tbody>
<tr>
<td valign="top" width="80"><strong>Mini-site addresses:</strong></td>
<td width="280">
<a href="http://www.%7B%7BDOMAIN_NAME%7D%7D/%7B%7BFRIENDLY_URI%7D%7D/">http://www.{{DOMAIN_NAME}}/{{FRIENDLY_URI}}/</a><br> <a href="http://www.Business.com.au/%7B%7BFRIENDLY_URI%7D%7D/">http://www.Business.com.au/{{FRIENDLY_URI}}/</a>
</td>
</tr>
<tr>
<td width="80"><strong>Login address:</strong></td>
<td width="280"><a href="https://secure.omg.com.au/">https://secure.omg.com.au/</a></td>
</tr>
<tr>
<td width="80"><strong>Login:</strong></td>
<td width="280">{{EMAIL_LOGIN}}</td>
</tr>
<tr>
<td><strong>Password:</strong></td>
<td>{{EMAIL_PASSWORD}}</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td bgcolor="#e1eaeb"><span style="color: #067db4; font-weight: bold; font-size: 15px; font-family: arial;">2. Order Details</span></td>
</tr>
<tr>
    <td style="border: 1px solid #f1f1f1;">{{{ADDITIONAL_OFFICE_HTML}}}
<table width="100%" border="0" cellspacing="0" cellpadding="10">
<tbody>
<tr>
<td width="80"><strong>Start Date:</strong></td>
<td width="280">{{SALE_DATE}}</td>
</tr>
<tr>
<td><strong>Plan:</strong></td>
<td>{{PLAN_STRING}}</td>
</tr>
<tr>
<td><strong>Description:</strong></td>
<td>{{PLAN_DESCRIPTION}}</td>
</tr>
</tbody>
</table>
<p><strong>NOTE: </strong><strong>This is a perpetual contract, which will continue on a month-to-month basis at the conclusion of the 12 months contract term until a time when either party cancels the contract in line with our Terms &amp; Conditions. For more information please view our full Terms &amp; Conditions at <a title="Advertising Terms and Conditions" href="http://omg.com.au/advertiser-terms-conditions/" target="_blank">omg.com.au/advertiser-terms-conditions</a></strong></p>
<p> </p>
<p><strong>Charges will appear on your credit card statement from "OMG.com.au Listings".</strong><strong> </strong></p>
</td>
</tr>
</tbody>
</table>
<p><span style="font-size: small;">Kind Regards,</span></p>
<p><span style="font-size: small;">OMG Team</span></p>
          
          