
            
            <p><span style="font-size: small;">Dear {{LMS_NAME}},</span></p>
<p><span style="font-size: small;">You have just sold a Listing through the OMG Directory Network.</span></p>
<p><span style="font-size: small;">The Business "{{LEAD_COMPANY}}" has just purchased a {{PURCHASE_PRICE}} directory listing on {{DOMAIN_NAME}}.</span></p>
<p><span style="font-size: small;">Big congratulations!</span></p>
<p><span style="font-size: small;">Kind regards,</span><br><span style="font-size: small;">OMG Sales Team</span></p>
          
          