
            
            <p>Hello {{addressee}}!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><a href="%7B%7Bpassword_reset_link%7D%7D">Change password</a></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
          
          