
  			<div id="Slide" align="center"><h1 style="font-size: 20px;">ACTIVATE YOUR ACCOUNT</h1></div>          
           <p>Dear <strong>{{NAME}}</strong>,</p>
<br>


    <p>Thank you for your submission. Your request has been sent to: <br>
        <strong>{{ BUSINESS_LIST }}</strong></p>
<br>
            
    <p>Here are your details supplied to the business:<br>
       Name: {{NAME}}<br>
       Message: {{DESCRIPTION}}</p>
<br>
          
    <p>To ensure you get the best response, we recommend having as much information ready as possible to pass onto the business you are speaking with.</p>

<br><p>Kind Regards,</p>

<p><strong>{{DOMAIN_DISPLAY_NAME}} Team</strong></p>
<br>

<hr>
            
          