
            
            
            
           <div id="Slide" align="center"><h1 style="font-size: 20px;">ACTIVATE YOUR ACCOUNT</h1></div>    
           <p>Dear <strong>{{NAME}}</strong>,</p>
<br>

    <p>We recently sent your contact request to {{QUOTATION_COUNT}} of our listed directory businesses. Thank you for using our service. If you have a spare moment, we would greatly appreciate your feedback to help improve our service.</p>
          <div id="button"><p><a href="%7B%7B%20URL%20%7D%7D">Take the survey</a></p></div>
<br>
    <p>Thank your for your time!</p>

<br><p>Kind Regards,</p>

<p><strong>{{DOMAIN_NAME}} Team</strong></p>
<br>

<hr>
            
            
          
          
          
          